<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="./assets/js/vue.global.js"></script>
    <link rel="stylesheet" href="./assets/css/stylecadastro.css"
</head>
<body>
   <div id="app">
        <h1>Cadastro de Novo</h1>
        <form>
            <label for="newUsername">Usuário:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>

            <label for="corfirmPassword">Corfirma Senha:</label>
            <input type="password" v-model="confirmPassword"required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
        </form><!---Fechamento form-->
        <p> Usuário:{{usuario}}</p>
        <!-- <p>Senha: {{senha}}</p> -->
        
        <p class="erro" :class="{entrada: mostrarEntrada}">{{erro}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

        <!--Processovde listagem dos usuários e senhas cadastrados nos vetores-->
        <div>
            <button @click ="listarUsuarios">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Lista dos usuários cadastrados-->
            <ol v-if="mostrarLista">
                <li v-for="(usuario,index) in usuarios">
                    Usuário: {{usuario}}, Senha: {{senhas[index]}}
                    <button @click="excluirUsuario(usuario)"
                </li>
            </ol><!--Fechamento lista ordenada-->
        </div><!--Fechamento div-->

   </div><!--Fechamento div app-->
   <script src="./assets/js/process.js"></script>   
</body>
</html>