body{
    /*Estilos referentes ao corpo do html*/
    background-color: rgb(206, 201, 254);font-family: fantasy;color: rgb(36, 0, 243);
}

h1{
    text-align: center;
    color: rgba(2, 14, 93, 1); margin-top: 200px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li{
    margin: 10px;
}

a{
    display: block;
    text-align: center;
    padding: 10px 15px;
    border-radius:10px;
    text-decoration:none;
    transition:all 0.5s ease-in-out;
}
a:hover{
    background-color: rgb(64, 70, 181);
    color: rgb(219, 0, 0);
}

.f{
    background-color:  rgb(2, 29, 202);
    color: rgb(255, 255, 255);
}
.t{
     background-color: rgba(29, 160, 241, 1);
}
.i{
    background-image: linear-gradient(to bottom left, rgba(108, 48, 229), rgba(229, 48, 172),rgba(229, 48, 48),rgba(255, 238, 56));
    color: rgb(255, 255, 255);
}
