h1{
    font-size: 36px;
     color: rgb(11, 1, 206);
     margin-top: 0;
     margin-left: 12px;
}
p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(255, 3, 3);
}
body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(254, 254, 255),rgb(0, 0, 0),rgb(255, 255, 255));
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    background-color: rgb(105, 161, 230);
    width: 100%;
    pad: 20px;
}
@media(max-width:600px){
    .container{
        width: 90%;
        padding: 10px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}