.calculadora{
    background-color: rgb(124, 129, 255);
    font-size: 2rem;
    padding: 20px;
    top:50%;
    left:50%;
    border-radius: 10px;
    border: 1px solid rgb(38, 255, 0);
    background-image: linear-gradient(rgb(0, 0, 0),rgb(103, 93, 93),rgb(160, 154, 154),rgb(255, 255, 255));
    flex-direction: column;
    display: flex;
    align-items:center;
    position: fixed;
    transform: translate(-50%,-50%);
    width: 375px;
}/*Fechamento calculadora*/
.tela{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 80px;
    width: 93%;
    border-radius:10px;
    border:4px solid rgb(5, 253, 253);
    padding: 10px;
    margin-bottom: 20px;
    font-size:3rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    overflow: hidden;
}
body{
    background-color: rgb(11, 122, 32);
}

.configBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha{
    display: flex;
    margin-top: 5px;
    flex-direction: row;
}
button{
    font-size: 2rem;
    width:80px;
    height:80px;
    margin-right: 5px;
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
button:hover{
    background-color: rgb(161, 85, 85);
}

.Limpar{
    width: 120px;
}