.erro{
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    opacity: 100;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: rgb(0, 255, 47);
    font-size: 1.5rem;
    opacity: 100;
    transition: opacity 0.5s ease-in;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 255, 251);
    color: rgb(0, 62, 248);
}
button:hover{
    background-color: rgb(255, 0, 0);
}
#app{
    border-radius: 20px;
    max-width: 400px;
    background-color: black;
    margin:0 auto;
    padding: 20px;
    box-shadow: 20px 0 15px rgb(255, 255, 255);
    text-align: center;
}
h1{
    margin-top:0;
}

form{
    background-color: brown;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input[type="text"], input[type="password"]{
    padding: 13px;
    border-radius: 10px;
    border:none;
    border-style:solid;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
input[type="password"]{
    
    width: 80%;
}

input[type="text"]{
    width: 80%;
}


button{
    padding: 10px;
    background-color: black;
    color:blue;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    border-radius:10px;

    cursor:pointer;
    font-size: 1.2rem;
    min-width: 20%;

    
}